<form #character="ngForm" novalidate>
    <span>name:</span><input name="name" [(ngModel)]="charName"><br>
    <span>color:</span>
    <input type="checkbox" (click)="enabler()">
    <select #optionColor [(ngModel)]="color" name="color" [disabled]="isDisabled">
        <option *ngFor="let color of colors" [value]="color">{{color}}</option>
    </select><hr>
    <span>Change Class</span><br>
    <select #classOption multiple name="styles" (change)="addClass($event)">
        <option *ngFor="let class of classes" [value]="class" >{{class}}</option>
    </select><br>
    <span>press and hold control/command<br>to select multiple options</span>
</form>
<hr>
<span>Name: {{charName}}</span><br>
<span [ngClass]="selectedClass" 
      [ngStyle]="{'color': optionColor.value}">
        color: {{optionColor.value}}
</span><br>
